* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6d9bb5;
    --secondary-color: #7b7b27;
    --tertiary-color: #415c51; 
}

body {
    color: var(--tertiary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER SECTION */
.header-footer {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
}

.header-footer-h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;  
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}

.header-footer-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-footer-a {
    padding: 10px 15px;
    font-weight: darker;
    font-size: 1.75vw;
    color: var(--primary-color);
}

.header-footer-a:hover {
    border-radius: 15px;
    text-shadow: none;
}

/*SUBTITLE SECTION */
.subtitle {
    width: 100%;
    padding: 100px;
    background-image: url("../images/subtitle.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    justify-content:left;
    position: relative;
    display: block;
}

.subtitle h2 {
    color: var(--secondary-color);
    font-size: 30px;
    position: relative;
    top: 80px;
    left: 575px;
}

.my-photo {
    position: absolute;
    margin: 15px 0 15px 0;
    top: 0px;
}

#my-photo img {
    border-radius: 25%;
    width: 200px;
    height: auto;
}

.about-work {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

/* GENERAL SECTION STYLING*/
.section-heading {
    text-align: right;
    position: relative;
    width: 25%;
}

.section-heading h2 {
    padding: 30px 50px 0 150px;
    color: var(--primary-color);
    height: 100%;
    background-color: var(--tertiary-color)
}

/* ABOUT ME SECTION*/
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.about-me-content {
    background-image: url("../images/about-me.jpeg");
    background-size: cover;
    background-position: 80%;
    color: var(--secondary-color);
    text-align: left;
    padding: 0 0 0 100px;
    position: relative;
    width: 75%;
}

.about-me-content p {
    padding: 0 0 0 250px;
}

/* WORK SECTION */
.about-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.about-work .section-heading {
    height: 750px;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    height: 750px;
}

.work-box {
    border: 5px solid var(--secondary-color);
    height: 25%;
    width: 50%;   
}

/*format backgrounds*/
#box-1 {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
    background-position: 10% 10%;
    width: 100%;
    height: 50%;
}

#box-2 {
    background-image: url("../images/my-picture.jpeg");
    background-size: cover;
    background-position: 10%;
}

#box-3 {

}

#box-4 {

}

#box-5 {

}

.work-title {
    background-color: var(--tertiary-color);
    border-radius: 2%;
    padding: 5px;
    width: 40%;
    color: var(--primary-color);
    position: relative;
    top: 60%;
}